################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/AspNetCoreWithAngular4/.vs
/AspNetCoreWithAngular4/AspNetCoreWithAngular4/obj
/AspNetCoreWithAngular4/AspNetCoreWithAngular4/bin/Debug/netcoreapp1.1
